<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conLogin" connectionString="Data Source=CND82594LB;Initial Catalog=LoginDB;Integrated Security=True" />
    <add name="conResident" connectionString="Data Source=CND82594LB;Initial Catalog=DHousingApp;Integrated Security=True;"/>
    
  </connectionStrings>
</configuration>